<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181799688241-tr98gaedftuvdhm4f2otkvuqm4j6ef6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181799688241-tr98gaedftuvdhm4f2otkvuqm4j6ef6t</string>
	<key>API_KEY</key>
	<string>AIzaSyBpVDlrS-G8D4bGwoAjlfAPLmsIfO2kFRs</string>
	<key>GCM_SENDER_ID</key>
	<string>181799688241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>foodtalk-f468d</string>
	<key>STORAGE_BUCKET</key>
	<string>foodtalk-f468d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181799688241:ios:fa676f5a89ccbad8e2dd10</string>
</dict>
</plist>